{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="min-h-screen flex items-center justify-center bg-gray-200">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form method="POST">

      {% csrf_token %}
    
      
      <!--Error message-->

      {% if form.errors %}
        <div class="text-red-500 text-sm">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if messages %}
        <div class="text-red-500 text-sm">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        <div>
      {% endif %}


       <!--Input fields-->

      <input type="test" name="email" placeholder="Email/Username" required class="w-full p-2 border rounded mb-4 text-black" />
      <input type="password" name="password" placeholder="Password" required class="w-full p-2 border rounded mb-4 text-black" />
      <button type="submit" class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">Login</button>
    </form>

    <div class="text-center my-4 text-sm text-black">or</div>

    <button class="w-full border border-gray-300 p-2 rounded mb-2 flex items-center justify-center gap-2 hover:bg-gray-100 text-green-300">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" alt="Google" class="h-5 w-5" />
      Login with Google
    </button>

    <p class="text-center mt-4 text-sm text-gray-500">
      Don't have an account?
      <a href="{% url 'signup' %}" class="text-blue-600 hover:underline">Register</a>
    </p>
  </div>

</div>

  {% endblock %}

